{% extends 'base.html'%}
{%block content %}
<div class="row" style="background:white;min-height:500px">
<div class="col-sm-12 py-5" style="...">
    <span><h1 class="text-center"><span style="color:#dc3545">About</span>  Us</h1></span>
    <center><hr style="color:#dc3545;width:150px;height:2px"/></center>
</div>
    <div class="col-sm-12">
    <div class="container bg-light" >
        <div class="col-sm-12  p-5" style="text-align:justify">

            <span> <h2>I have Developed this python project online news portal on python,Django and SQL
            This is python project which contains only admin functionality. The main concept behind developing
                this is publishing the news online and user will be able to read the news
                in this project there is a single user admin. admin can add the news,admin can see the news, and admin
                can change the password and also admin
                will be edit,delet and update the news,admin can search any things in this project.
                this is easy python project which you can easily configure it and learn a lot from these.</h2>
            </span>
        </div>
        <div class="col-sm-4">
            <img src=""
        </div>
    </div>
</div>
{% endblock%}